# ignore everything 
* 

# search through subdirectories 
!*/

# except all of the following 
!.gitignore
!_vimrc 
!_vimpluginsettings.vim
!.vimrc 
!README.md

# ignore these directories 
**/
**/
